#header {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

.crab{
    height:6em
}

#cart {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}