<div class="col-md-4 mx-auto" *ngIf="!orderService.cart[0]">
    <h2>Cart Empty!</h2>
</div>

<div class="col-md-4 mx-auto" *ngIf="orderService.cart[0]">
    <h2>Your Cart:</h2>
    <div *ngFor="let crab of cartSummary">
        
        <div class="card">
        <div class="card-body">
            <div id="delete">
                <button (click)="deleteItem(crab.Type)">X</button>
            </div>
            <h5 class="card-title">{{crab.Type}}</h5>
            <p class="card-text">${{crab.Price}}</p>
            <p class="card-text">x{{crab.quantity}} // ${{crab.Price * crab.quantity}}</p>
        </div>
        </div>
    </div>

    <div>
        <button class="btn btn-success" (click)="makePurchase()">Purchase</button>
    </div>
</div>