#subheader {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

#buttons{
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

button{
    margin: 0 5px; 
    color: blue
}

.crab{
    height:6em
}