.home-page {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container {
    max-width: 1500px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

body{
    background-image: url("../../../public/pokemon.jpg");
    background-size:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
  }