<h4>this is a dynamically displayed buy-crabs component (it can leave the page)</h4>

<input type="text" placeholder="Search for a crab">
<button>Search</button>

<!--just 3 headers w string interpolation and *ngFor-->
<div class="row">
    <div class="col-md-4 my-4" *ngFor="let crab of crabList">
      <div class="card">
        <img id="crab-pic" class="card-img-top " src="../../../assets/crabbo.png" alt="CRAB PIC HERE"> <!-- Replace with your image source -->
        <div class="card-body">
          <h5 class="card-title">{{crab.Type}}</h5>
          <p class="card-text">${{crab.Price}}</p>
          <button class="btn btn-primary btn-sm" (click)="addItem(crab)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>