.employee-container{
    width: 50%;
    display: flex;
    margin-top: 1%;
    margin-left:1%;
    border: 5px double black;
    background-color: burlywood;
    flex-direction: column;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.5); /* Shadow */
}

.employee-name{
    display:flex;
    margin-left: 2%;
    justify-content: start;
}

.employee-data{
    margin-left:2%;
}